<script type="x/template" id="vue-add-to-wish-list">
    <div>
        <a class="add-to-wish-list" :class="{active: isVariationInWishList}" @click.prevent="switchState()" data-toggle="tooltip" data-placement="top" title="">
            <i v-waiting-animation="isLoading"></i>
            {{ trans("ZisterneInfo::Template.singleItemWishList") }}
        </a>
    </div>
</script>
