<script type="x/template" id="vue-item-image-carousel">
  <div itemscope="itemscope" itemtype="http://schema.org/Thing">
    <div class="row">
      <div class="col-xs-12">
        <div id="single-carousel" class="owl-carousel owl-theme owl-single-item" ref="single">
          <div v-for="image in singleImages">
            <a :href="image.url" data-lightbox="single-big-image-gallery">
              <img :alt="getAltText(image)" class="owl-lazy" :data-src="image.url" :title="getItemName()"  itemprop="image">
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div id="thumbs" class="owl-thumbs owl-carousel owl-theme owl-single-item" ref="thumbs">
          <img :alt="getAltText(imagePreview)" :title="getItemName()" @click="goTo(index)" class="owl-thumb" v-bind:class="{ 'active': currentItem === index }" :src="imagePreview.url" v-for="(imagePreview, index) in carouselImages">
        </div>
      </div>
    </div>
  </div>
</script>
