@font-face {
    font-family: 'opensans_bold';
    src: url('https://cdn03.plentymarkets.com/jbguwzfozvwm/frontend/theme/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('https://cdn03.plentymarkets.com/jbguwzfozvwm/frontend/theme/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans_light';
    src: url('https://cdn03.plentymarkets.com/jbguwzfozvwm/frontend/theme/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('https://cdn03.plentymarkets.com/jbguwzfozvwm/frontend/theme/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans_regular';
    src: url('https://cdn03.plentymarkets.com/jbguwzfozvwm/frontend/theme/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('https://cdn03.plentymarkets.com/jbguwzfozvwm/frontend/theme/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body > #vue-app, body > #vue-error, .wrapper-main .navbar, .page-content {
  background-color: #fff;
}
body {
    background-color: #fff;
    font-family: 'opensans_light';
  	margin: 0px;
  	color: #ababab;
}
.wrapper-main #page-body {
    margin-top: 70px;
}
img {
	border: none;
	max-width: 100%;
}
.clear {
	clear:both;
	height: 0px;
}
.container, .container-max {
	margin: 0 auto;
	width: 100%;
	max-width: 1040px;
	position:relative;
}
.contentText, .categoriegrid, .single  {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.btn-primary, .btn-outline-primary, .btn-primary  {
  color: #ababab;
  background: linear-gradient(-58deg, #f2f2f2 23%, #daff36 23%);
  text-transform: uppercase;
  font-family: 'opensans_regular';
  text-align: left;
  border: 0;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #666;
  background: linear-gradient(-58deg, #f2f2f2 23%, #c4c4c4 23%);
}


.btn.btn-medium {
  width: 13rem;
}
.modal-footer .btn.btn-medium {
  width: 10rem;
}
.add-item .fa {
  color: #ababab;
}
.availability_1,
.availability_2,
.availability_3,
.availability_4,
.availability_5,
.availability_6,
.availability_7,
.availability_8,
.availability_9,
.availability_10 {
  background-color: transparent;
}
h1 {
    font-size: 29px;
    font-family: 'opensans_regular';
    line-height: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.fa-chevron-right:before {
    content: "\f105";
}
.fa-chevron-left:before {
    content: "\f104";
}
/*header*/
header .wrapper {
	max-width: none;
}
header {
	border-bottom: 1px solid #888;
	margin: 0 auto;
	width: 100%;
	height: 78px;
	background-color: #c4c4c4;
  position: relative;
}
header ul {
	list-style: none;
	font-size: 13px;
	padding-left: 5%;
	padding-top: 23px;
  margin-bottom: 30px;
}
header ul a {
	text-transform:uppercase;
}
header #controlsList li {
  position: relative;
  margin-right: 20px;
}
header #controlsList li::after {
  content: "/";
  padding: 0 5px;
  color: #fff;
  font-style: italic;
  position: absolute;
  right: -17px;
  top: 0;
}
header #controlsList li:last-child::after {
  content: none;
}
header #controlsList a {
	color: #fff;
}
header #controlsList a:hover, header #controlsList a:active, header #controlsList a:focus {
	color: #daff36;
}
header .navbar {
  border-top: 6px solid #daff36;
  font-family: 'opensans_regular';
}
header #login-change .dropdown-menu {
  z-index: 9999;
  padding: 0;
  min-width: 135px;
}
header #login-change .dropdown-menu a {
  color: #ababab;
  padding: 10px;
  border: 0;
}
header #login-change .dropdown-menu a:hover,
header #login-change .dropdown-menu a:focus,
header #login-change .dropdown-menu a:focus {
  background-color: #daff36;
}
header #login-change .dropdown-menu a:last-child {
  border-top: 1px solid #ddd;
}
.cmp-country-settings, .cmp-currency-select {
  top: 0;
  background: #c4c4c4;
}
.cmp-country-settings ul li.active a, .cmp-currency-select ul li.active a {
  color: #666;
}
#mainNavbarCollapsable ul.mainmenu > li > a {
  padding: 0 20px;
  color: #ababab;
}
#mainNavbarCollapsable ul.mainmenu > li:hover {
  background-color: #daff36 !important;
}

#mainNavbarCollapsable ul.mainmenu > li > ul {
  min-width: 165px;
  background: #f2f2f2;
}
#mainNavbarCollapsable ul.mainmenu > li > ul li {
  display: block;
  width: auto;
  float: none;
  border-right: 1px solid #DDD;
  min-width: 0px;
  padding: 0;
  margin: 0;
  float: left;
}
#mainNavbarCollapsable ul.mainmenu > li > ul li:last-child {
  border-right: 0;
  margin: 0;
}
#mainNavbarCollapsable ul.mainmenu > li > ul li a {
  color: #ababab;
  padding: 0 20px;
}
.no-touch #mainNavbarCollapsable ul.mainmenu > li.active,
.no-touch #mainNavbarCollapsable ul.mainmenu > li > ul > li:hover,
.no-touch #mainNavbarCollapsable ul.mainmenu > li > ul > li.active,
.touch #mainNavbarCollapsable ul.mainmenu > li > ul > li.hover {
    color: #ababab;
    background-color: #daff36 !important;
}
.no-touch #mainNavbarCollapsable ul.mainmenu > li.active:hover,
.no-touch #mainNavbarCollapsable ul.mainmenu > li > ul >li.active:hover {
  color: #666;
  background-color: #ddd !important;
}
#logo {
	height: auto;
  max-width: 160px;
  position: absolute;
	right: 0;
	top: 17px;
}

/* -------------------------------------
a link formatierung
------------------------------------- */
a {
  color: #ababab;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  color:#daff36;
}
footer a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  color:#daff36;
}


footer a:active {
  color:#daff36;
  text-decoration:underline;
}
/*ende a link formatierung*/
@media(min-width: 992px) {
  .mainmenu > li {
  	float: left;
  	font-size: 14px;
  	border-right: 1px solid #DDD;
  	background-color: #fff;
  	z-index:10;
    margin-right: 1px;
    -ms-transform: skew(-35deg);
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -o-transform: skew(-35deg);
      transform: skew(-35deg);
  }
  .mainmenu li:last-child {
  	margin-right: 23px;
  }
  .mainmenu a {
  	color: #ababab;
      display: inline-block;
      text-decoration: none;
      transform: skewX(35deg);
  	-webkit-transform: skewX(35deg); /*Safari*/
  	line-height: 70px;
  	padding: 0 20px;
  	font-style: normal;
  }
  .mainmenu a:hover {
  	color: #daff36;
  }
}
/*ende header*/
#page-body.main {
  border-bottom: 6px solid #daff36;
}
footer {
  background: #c4c4c4;
  border-top: 1px solid #888;
  font-size: 15px;
  min-height: 350px;
  padding-top: 40px;
  padding-bottom: 70px;
}
footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'opensans_regular';
}
footer p {
  color: #fff;
}
footer i {
    transform: scale(0.8);
	padding-right: 5px;
}
footer ul {
    color: #fff;
    list-style: inside none none;
}
footer li {
  padding-left: 10px;
    text-indent: -10px;
}
footer li::before {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f105";
    color: #fff;
    line-height: 1em;
    padding-right: 5px;
}
footer ul.links li::before {
  padding-right: 0px;
}
footer ul.icons li {
  display: inline-block;
  padding-left: 0px;
    text-indent: 0px;
}
footer ul.icons li span {
  line-height: 18px;
  color: #666;
  background: #daff36;
  display: block;
  font-size: 10px;
  padding: 3px;
  height: 23px;
  width: 47px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 2px;
  font-family: 'opensans_regular';
  margin-right: 2px;
}
footer ul.icons li::before {
  content: none;
}
footer li:last-child {
	border: none;
}
footer .scrollToTop {
  position: fixed;
  z-index: 999;
bottom: 50px;
right: 15px;
height: 45px;
width: 45px;
border-radius: 25px;
background: #daff36;
color: #ababab;
text-align: center;
padding-left: 2px;
padding-top: 2px;
font-size: 25px;
display: block;
}
footer .scrollToTop:hover,
footer .scrollToTop:focus,
footer .scrollToTop:active {
  background: #c4c4c4;
  color: #666;
}
#searchBox {
	background-color: #f2f2f2;
	color: #fff;
    display: inline-block;
	float: left;
	font-style: normal;
	line-height: 70px;
	margin-left: -24px;
	padding: 0;
	-ms-transform: skew(-35deg);
	-webkit-transform: skew(-35deg);
	-moz-transform: skew(-35deg);
	-o-transform: skew(-35deg);
    transform: skew(-35deg);
}
#searchBox input, #searchBox .search-submit {
  background-color: transparent;
    border: none !important;
    font-family: open sans;
    font-size: 14px;
    font-weight: 400;
    outline:none;
    -webkit-appearance: none;
    color: #ababab;
    padding: 0 20px;
    -ms-transform: skew(35deg);
    -webkit-transform: skew(35deg);
    -moz-transform: skew(35deg);
    -o-transform: skew(35deg);
      transform: skew(35deg);
}
.cmp-country-settings ul li a:hover,
.cmp-currency-select ul li a:hover,
.cmp-country-settings ul li a:focus,
.cmp-currency-select ul li a:focus {
  color: #666;
}
#homeSlider {
  margin-bottom: 50px;
}
#homeSlider .carousel-control-next,
#homeSlider .carousel-control-prev {
  font-size: 50px;
  width: 5%;
}
/* Suchergebnisse */
.product-list article.product-inner button .fa {
  float: right;
}
.searchPage article.product-inner button:hover a,
.searchPage article.product-inner button:focus a,
.searchPage article.product-inner button:active a {
  color: #666;
}
/*ItemViewCategoriesList*/
.categoriegrid .list-controls .list-wrapper {
  text-align: right;
}
.categoriegrid  .list-controls .list-controls-inner {
  background: #f2f2f2;
  margin-bottom: 30px;
}
.categoriegrid .vat {
  margin-bottom: 40px;
}
.categoriegrid .vat a {
  text-decoration: underline;
}
.product-list.grid li article {
  width: 100%;
	margin-bottom:20px;
	border: 1px solid #c4c4c4;
	position: relative;
	overflow: hidden;
  padding: 15px;
}
.product-list.grid li article .add-to-basket-lg-container {
  display:none;
}
.product-list.grid li article .price {
    font-size: 30px;
    font-weight: bolder;
    color: #ababab;
    height: 55px;
}
.product-list.grid li article  .thumb-title {
  font-size: 15px;
    color: #ababab;
    text-transform: uppercase;
    font-family: 'opensans_regular';
    display: block;
    height: 50px;
}
.product-list.grid li article .btn-group {
  width: 100%;
}
.product-list.grid li article .btn-outline-primary {
  margin-top: 20px;
  width: 100%;
}
.add-to-basket-container .btn-primary {
  width: 100%;
}
.owl-carousel .carousel-control.right .owl-single-item-control {
    right: 10px;
}
.owl-carousel .carousel-control.left .owl-single-item-control {
    left: 10px;
}
.basket-preview .totals {
  font-size: 100%;
}
/* Single Item */
@media(min-width: 1200px) {
#single-carousel .owl-item img {
    height: 380px;
  }
}
.single #single-carousel, .single #thumbs img {
    border: 1px solid #ddd;
    cursor: pointer;
}
.single #thumbs img {
  margin-bottom: 10px;
}
.single .vat {
  color: #ababab;
}
.single .item-content-headline {
    font-size: 16px;
    font-family: 'opensans_bold';
    margin-bottom: 30px;
    text-transform: uppercase;
}
.single .detail p.articlenumber {
  margin-bottom: 0;
}
.single .detail p span:first-child {
  min-width: 120px;
  display: inline-block;
}
.single #itemDesc {
  margin-top: 50px;
}
.single #itemDesc h2 {
    font-size: 29px;
    font-family: 'opensans_regular';
    line-height: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.single #itemDesc h3 {
  margin-top: 20px;
}
.single #cfourItemQuestions p {
  display: none;
}
.single #cfourItemQuestions input::placeholder,
.single #cfourItemQuestions textarea::placeholder {
  font-style: italic;
  opacity: 0.8;
}

/* Warenkorb und Kasse */
#page-body .page-content.basket .bg-white .input-group,
#page-body .page-content.checkout .bg-white .input-group {
  display: block;
}
#page-body .page-content.basket .bg-white .input-group .btn,
#page-body .page-content.checkout .bg-white .input-group .btn {
  margin: 10px 0 0 0;
  float: right;
}
#registry-form-container header, .basket-preview header {
  background: transparent;
  height: auto;
  border: 0;
}
/* Responsive */
.hidden-lg, .list-itemsperpage {
        display: none !important;
    }
@media(max-width: 768px) {
    .visible-lg {
        display: none !important;
    }
    .hidden-lg {
        display: block !important;
    }
}
@media(max-width: 1200px) {
  #controlsList {
    padding-left: 15px;
  }
  #logo {
    right: 15px;
  }
  #single-carousel .owl-item img {
    height: 450px;
}
    .mobile-navigation ul.mainmenu li.ddown .nav-direction i {
        color: #ababab;
    }
    .mobile-navigation ul.mainmenu li a:hover,
    .mobile-navigation ul.mainmenu li a:focus,
    .mobile-navigation ul.mainmenu li a:active {
        color: #666;
    }
}
@media(max-width: 991px) {
    .wrapper-main #page-body {
    margin-top: 45px;
}
  #searchBox {
    width: 90%;
    width: calc(100% - 90px);
    -ms-transform: skew(0);
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -o-transform: skew(0);
      transform: skew(0);
      margin-left: 0;
      line-height: 45px;
      height: 45px;
  }
    #searchBox input {
        width: 85%;
        width: calc(100% - 60px);
    }
  #searchBox input, #searchBox .search-submit {
    -ms-transform: skew(0);
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -o-transform: skew(0);
      transform: skew(0);
  }
  .navbar-toggler {
    width: 90px;
    padding: 13px 10px;
    float: left;
    position: relative;
    top: 0;
    right: 0;transform: none;
  }
  .mobile-navigation {
    background: #f2f2f2;
  }
  .mobile-navigation ul.mainmenu li a {
    color: #ababab;
  }
}
@media(max-width: 900px) {
    #single-carousel .owl-item img {
      height: 340px;
  }
}
@media(max-width: 768px) {
  footer .footer-content .col-xs-12 {
    min-height: 180px;
  }
    .contentText, .categoriegrid, .single {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
}

@media(max-width: 544px) {
     .single #single-carousel {
        margin-bottom: 10px;
    }
    .single #thumbs img {
        margin-bottom: 30px;
        margin-right: 2%;
        width: 32%;
    }
    .single #thumbs img:last-child {
        margin-right: 0%;

    }
    .single #itemDesc h2 {
        font-size: 25px;
    }
    footer li::before {
      content: none;
    }
    footer .footer-content .col-xs-12 {
      text-align: center;
      margin-bottom: 20px;
      min-height: 10px;
    }
  footer .footer-content .col-xs-12 ul li a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #f2f2f2;
  }
    footer .footer-content .col-xs-12 ul.icons li a {
        border-bottom: 0;
    }
}
@media(max-width: 420px) {
    header {
        height: 149px;
    }
    #logo {
    right: 50%;
    top: 20px;
    margin-right: -80px;
}
    #controlsList {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
        text-align: center;
}
}
