/*-------------------------------------------------
      Allgemein
---------------------------------------------------*/
body {
	font-family: 'Verdana';
	color: #1d1d1b;
	font-size: 14px;
}
body > #vue-app, body > #vue-error, .page-content {
	background-color: #ffffff;
}
img {
	max-width: 100%;
}
strong {
	font-weight: bold;
}
.container-max {
	max-width: 1230px;
}
.container {
	max-width: 1200px;
}
/*-------------------------------------------------
      Header
---------------------------------------------------*/
header {
	background: #fff;
}
header .middle {
	padding: 25px 15px;
}
header #logo {
	max-width: 285px;
	float: left;
}
header #searchBox {
	max-width: 590px;
	float: left;
	margin: 0 20px;
}
header #searchBox input {
	width: 590px;
	height: 55px;
	border: 0;
	box-shadow: none;
	text-shadow: none;
	background: #f7f7f7;
}
header #searchBox button {
		width: 62px;
    background: #666;
    border: 0;
    color: #fff;
    font-size: 30px;
}
header #searchBox .search-box-shadow-frame {
	box-shadow: none;
}
header #tuvSued {
	width: 285px;
	float: left;
	background: #e3e3e3;
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	padding: 4px;
	height: 55px;
}
header #topBar {
	background: #666;
	font-weight: 300;
	padding: 3px 0;
	font-size: 13px;
}
header #topBar ul {
	margin-bottom: 0;
}
header #controlsList {
	float: right;
}
header #headerLinks {
  padding: 0;
	float: left;
}
header #headerLinks li {
    display: inline-block;
    margin-right: 10px;
		color: #fff;
}
header #headerLinks li a,
header #topBar a {
		color: #fff;
}
header #headerLinks li .fa {
		color: #56ad0e;
		padding-right: 5px;
}
/*-----------------------------------------------
  main
-------------------------------------------------*/
.main {
  margin-top: 350px;
}
