{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% if footerContent is not defined %}
  {% set footerContent = services.category.get(1421, lang) %}
{% endif %}
<footer>
  <div class="container-max footerTop">
    <hr>
    <div class="row">
      {{ footerContent.details.first.description | raw }}
    </div>
  </div>
  <div class="footerMiddle">
      <div class="container-max">
          {{ footerContent.details.first.description2 | raw }}
      </div>
  </div>
  <div class="footerBottom">
      <div class="container-max">
        <a href="/" title="zur Startseite"><img src="https://cdn02.plentymarkets.com/yi9z0xbw5t14/frontend/zisterneInfo/ceres/img/braun-gmbh-logo.png" alt="Braun GmbH Logo" /></a>
        <p>Alle Preise inkl. 19% Mehrwertsteuer<br>* Die verkauften Stückzahlen beziehen sich auf Verkäufe in unseren Shops und Marktplätzen<br>Copyright 2018 © BRAUN GmbH - Alle Rechte vorbehalten</p>
      </div>
    </div>
  </footer>
