{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
<footer>
  <div class="container-max footerTop">
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
          <p class="headline">FAQ</p>
          <ul class="list-unstyled">
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
          </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
          <p class="headline">Mediathek</p>
          <ul class="list-unstyled">
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
          </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
          <p class="headline">Social media</p>
          <ul class="list-unstyled">
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
          </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
          <p class="headline">Optionales Feld</p>
          <ul class="list-unstyled">
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
            <li><a title="" href="">Lorem Ipsum</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footerMiddle">
      <div class="container-max">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
              <p class="headline">Einkaufen</p>
              <ul class="list-unstyled">
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
              <p class="headline">Unternehmen</p>
              <ul class="list-unstyled">
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
              <p class="headline">Kontakt</p>
              <p>07162 80 6 80 70<br>mail@braun-gmbh.eu</p>
              <p>Telefonisch erreichbar:<br><span class="tabStop">Mo-Do:</span>07:30 - 12:30<br><span class="tabStop"></span>13:00 - 16:30<br><span class="tabStop">Fr:</span>07:30 - 12:30<br><span class="tabStop"></span>13:00 - 14:00</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 icons">
              <p class="headline">Zahlungsarten</p>
              <ul class="list-unstyled">
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
              </ul>
              <p class="headline">Versandarten</p>
              <ul class="list-unstyled">
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
                <li><a title="" href="">Lorem Ipsum</a></li>
              </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="footerBottom">
      <div class="container-max">
        <img src="https://cdn02.plentymarkets.com/yi9z0xbw5t14/frontend/zisterneInfo/ceres/img/braun-gmbh-logo.png" alt="Braun GmbH Logo" />
      </div>
    </div>
  </footer>
