{{ component("Ceres::Category.Components.CategoryBreadcrumbs") }}
{% set homepageURL = services.url.getHomepageURL() %}

{% if categoryBreadcrumbs is not empty %}
    <nav data-component="breadcrumbs" data-renderer="twig" class="container-max small">
        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span>Sie sind hier:&nbsp;</span><a itemprop="item" title="zur Startseite" href="/"><span class="fa fa-home"></span></a>
            </li>

            {% set break = false %}
            {% set count = 1 %}
            {% for category in categoryBreadcrumbs[:categoryBreadcrumbs | length ] if not break %}
                {% if category.details[0] %}
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="{{ services.category.getURLById( category.id ) }}"><span itemprop="name">{{ category.details[0].name }}</span></a>
                        <meta itemprop="position" content="{{count}}" />
                    </li>
                {% else %}
                    {% set break = true %}
                {% endif %}
                {% set count = count + 1 %}
            {% endfor %}

        </ul>
    </nav>
{% endif %}
